<link href="~/css/creditcardform.css" rel="stylesheet" />
@{
    Layout = null;
}
@model CreditCard

<form asp-controller="CreditCard" asp-action="Create">
    <input asp-for="@Model.UserID" hidden value="@Model.UserID">
    <div class="container p-0">
      <div class="card px-4">
        <p class="h8 py-3">Payment Details</p>
        <div class="row gx-3">
          <div class="col-12">
            <div class="d-flex flex-column">
              <p class="text mb-1">Card Name</p>
              <input class="form-control mb-3" type="text" placeholder="Name" asp-for="@Model.Name">
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex flex-column">
              <p class="text mb-1">Card Number</p>
              <input class="form-control mb-3" type="text" placeholder="Card Number" asp-for="@Model.Number">
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <p class="text mb-1">Expiry</p>
              <input class="form-control mb-3" type="text" placeholder="MM/YYYY" asp-for="@Model.Expiry">
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <p class="text mb-1">CVV/CVC</p>
              <input class="form-control mb-3 pt-2 " type="text" placeholder="CVV" asp-for="@Model.CVV">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Credit Card</button>
</form>