
@model IEnumerable<Refund>

<table class="table table-striped table-dark">
    <tr>
        <th>ID</th>
        <th>UserID</th>
        <th>ProductID</th>
        <th>Specific Reason</th>
        <th>Notes</th>
        <th>Transaction Total</th>
    </tr>

    @foreach (var refund in @Model)
    {
        <tr>
            <td>@refund.ID</td>
            <td>@refund.UserID</td>
            <td>@refund.ProductID</td>
            <td>@refund.SpecificReason</td>
            <td>@refund.Notes</td>
            <td>@refund.TransactionTotal</td>
        </tr>
    }
</table>

