@model ProductAndReviewViewModel


<table class="table table-striped">
  <tr>
    <th>ProductID</th>
    <th>Price</th>
    <th>Name</th>
    <th>Average Rating</th>
    <th>Picture</th>
    <th>Stock</th>
    <th>CompanyID</th>
    <th>UserId</th>
  </tr>

  <tr>
    <td>@Model.Product.ProductID</td>
    <td>@Model.Product.Price</td>
    <td>@Model.Product.Name</td>
    <td>@Model.CalculateAverageRating()</td>
    <td><img style="width: 200px; height: 170px" src="@Model.Product.Picture" /></td>
    <td>@Model.Product.Stock</td>
    <td>@Model.Product.CompanyID</td>
    <td>@Model.Product.UserId</td>
  </tr>

    
</table>
<h6>REVIEWS: </h6>
<table class="table table-striped table-dark">
    <tr>
        <th>User Comment</th>
        <th>Rating</th>
        <th>Likes</th>
        <th>Dislikes</th>
    </tr>
    @{
        foreach(var review in @Model.Reviews){
            
            <tr>
                <td>@review.Body</td>
                <td>@review.Rating</td>
                @{
                    var likeCounter = @Model.Likes.Where(x => x.ReviewID == review.ID).Count();
                    var dislikeCounter = @Model.Dislikes.Where(x => x.ReviewID == review.ID).Count();
                }
                <td>@likeCounter</td>
                <td>@dislikeCounter</td>
                <td> <a class="btn btn-secondary" asp-action="Create" asp-controller="Comment" asp-route-productID="@review.ProductID" asp-route-reviewID="@review.ID">Comment</a></td>
                <form asp-asp-controller="Product" asp-action="CreateRating">
                  
                  <input asp-for="LikeForm.ReviewID" hidden value="@review.ID">
                  <input asp-for="@Model.RatingOption" hidden value="1">
                  <input asp-for="@Model.Product.ProductID" hidden value="@Model.Product.ProductID">

                  <td><button type="submit" class="btn btn-primary">Like</button></td>
                </form>
                <form asp-asp-controller="Product" asp-action="CreateRating">

                  <input asp-for="DislikeForm.ReviewID" hidden value="@review.ID">
                  <input asp-for="@Model.RatingOption" hidden value="2">
                  <input asp-for="@Model.Product.ProductID" hidden value="@Model.Product.ProductID">



                  <td><button type="submit" class="btn btn-primary">Dislike</button></td>
                </form>
                <td>
                    <table class="table table-striped table-dark">
                        <tr>
                            <th>User ID</th>
                            <th>Comment</th>
                        </tr>
                        @{
                            foreach(var comment in Model.CommentsForReviews)
                            {
                                <tr>
                                    <td>@comment.UserId</td>
                                    <td>@comment.Body</td>
                                </tr>
                            }
                        }

                    </table>
                </td>
            </tr>
        }
    }
</table>